.redesigned-theme-2018 .wufoo .info {
    margin-bottom: 0px;
}
.redesigned-theme-2018 .wufoo .info h2 {
    font-size: 29px !important;
    line-height: 32px;
    letter-spacing: -.24px;
}

.redesigned-theme-2018 .wufoo .info div {
    font-size: 14px !important;
}

/* Table */

.redesigned-theme-2018 .paging-context table tbody td.selected var {
    color: #1e4794;
    height: 20px;
    width: 20px;
    -webkit-box-shadow: 0 0 0 1px #1e4794;
    box-shadow: 0 0 0 1px #1e4794;
    background: #1e4794;
}

/* Form */

.redesigned-theme-2018 form span.req {
    color: #1e4794!important;
}

.redesigned-theme-2018 .wufoo li {
    padding: 10px!important;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc {
    color: #78909c !important;
}

.redesigned-theme-2018 input.checkbox:checked+label.choice:before {
    background-color: #1e4794;
}

.redesigned-theme-2018 .wufoo .wufoo-file-upload {
    width: 100%;
    border: 1px solid #1e4794;
}

/* Buttons */

.redesigned-theme-2018 button#previousPageButton {
    color: #1e4794;
    border: 1px solid #1e4794;
}

.redesigned-theme-2018 input.btTxt {
    background-color: #1e4794 !important;
    font-family: Roboto;
    border: 1px solid #1e4794;
}

/* Form Input */

.wufoo li {
    width: 100%;
}

input.medium, select.medium {
    width: 100%;
}

label.choice {
    width: 100%;
}
